* {
  margin: 0;
  padding: 0;
}

img:not([src]) {
  visibility: hidden;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #222;
}

img {
  margin: 0.25rem;
  border-radius: 1rem;
  overflow: hidden;
}
